/webapp/assets

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.container-center {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
